/*_---------resets--------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }





/*-----------grid-----------*/



@media screen and (max-width:460px){
    .container {
        width: 100%;
    }
}

.container{
    max-width: 140rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

/* --------------header-------------= */


.header{
    background: #2b2b2b;
    padding: 2rem 0;
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .branding img{
    width: 3.5rem;
}

.header .branding h2 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-left: 1rem;
    font-size: 2.5rem;
}

.header .branding h2 span{
    color: #FFa700;
}

.header .branding{
    display: flex;
    align-items: center;
}



.header .header__nav ul{
    display: flex;
}

.header .header__nav ul li{
    margin-left: 2rem;
    padding: 2rem 0;

}

.header .header__nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.header .header__nav ul li:hover a{
    color: #FFa700;
}


.toggle__menu{
    display: none;
}

.toggle__menu span{
    width: 3rem;
    height: .3rem;
    background-color: #FFa700;
    display: block;
    margin-bottom: .5rem;
    border-radius: 5rem;
    transition: .5s ease;
}

.toggle__menu.open span:first-child{
    transform: translate(0,10px) rotate(225deg);
    transition: .5s ease;
}
.toggle__menu.open span:nth-child(2){
    opacity: 0;
}
.toggle__menu.open span:last-child{
    transform: translate(0,-7px) rotate(-225deg);
    transition: .5s ease;
}

@media screen and (max-width:500px){
    .toggle__menu{
        display: block;
    }


.header .header__nav{
    position: absolute;
    background: #ffffff;
    top: 9.5rem; 
    right: -100rem;
    width: 100%;
    height: 100vh;
    transition: .5s ease;

}

.header__nav.open{
    right: 0 ;
    transition: .5s ease;
}


.header .header__nav ul{
    display: block;
    text-align: center;
   
}

.header .header__nav ul li{
    margin-left: 0;
    border-bottom:1px solid #2b2b2b;

}
.header .header__nav ul li a{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 3rem;
}
.header .header__nav ul li:hover{
    background: hsl(0, 0%, 50%);
}

}

/* ---------banner----------- */

.banner{
    background: #ffffff;
    padding: 5rem 0;
    padding-top: 15rem;
}

 .banner .banner__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;

 }

.banner .banner__text h1{
    color: #FFa700;
    font-size: 8rem;
    font-weight: 800;
    max-width: 40rem;
    line-height: 1.2;   
}

.banner .banner__text p{
    max-width: 40rem;
    text-align: justify;
    margin: 3rem 0;
}

 .banner a{
    text-transform: uppercase;
    border: 1px solid transparent !important;
 }


@media screen and (max-width:500px){
    .banner .banner__wrapper{
        flex-direction: column-reverse;
    }

    .banner .banner__text{
        margin-right: 0;
        text-align: center;
    }
    .banner img{
        margin-left: 0;
        width: 20rem;
        margin-bottom: 3rem;
    }
    

    .banner .banner__text h1{
        max-width: fit-content;
        font-size: 3rem;
        margin: 0 auto;
    }


}

/* ------------------ABOUT SECTION--------------- */

.about{
    background: #ffffff;
    padding: 5rem 0;
    padding-top:4rem;
    z-index: -1;
}

.about .about__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
   
}

.about .about__wrapper .overlay {
    position: relative;
    max-width: 47.8rem;
    opacity: 0.3;
  
}
.about .about__wrapper .image{
    position: relative;
}

.about .about__wrapper .abt__img{
    position: absolute;
    max-width: 50rem;   
}
.about .about__wrapper .about__text{
    max-width: 60rem;
}
.about .about__wrapper .about__text h2{
    color: #FFa700;
    font-size: 4rem;
    font-weight: 600;
    max-width: 40rem;
    line-height: 1.2;
}
.about .about__wrapper .about__text p{
    max-width: 40rem;
    text-align: justify;
    margin: 3rem 0;
}

@media screen and (max-width:500px){

    .about .about__wrapper{
        flex-direction: column;
        
      
    }
    .about .about__wrapper .image{
        width: 100%;
        margin-bottom: 2rem;
        z-index: 0;
        justify-content: center;
        display: flex;
      
    }
    .about .about__wrapper .image img{
         width: 50%;
        
    }

    .about .about__text h2{
        text-align: center;
        margin: 0 auto;

    }
    

    
}

/* -------------hm-services--------- */
.hm-services{
    background: #2b2b2b;
    padding: 8rem 0;
}

.hm-services .hm-services__item{
    text-align: center;
    margin: 0 4rem;
}


.hm-services .hm-services__item i{
    font-size: 5rem;
    color: #FFa700;
    margin-bottom: 2rem;
   
}

.hm-services .hm-services__item h4{
    font-size: 2.5rem;
    color: #FFa700;
    font-weight: 600;
}

.hm-services .hm-services__item p{
    color: #ffffff;
    margin: 2rem 0;
    text-align: justify;
    
}

.hm-services .hm-services__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}

@media screen and (max-width:500px){
    .hm-services .hm-services__wrapper{
        display: block;
        
    }
    .hm-services .hm-services__item:nth-child(2){
      margin: 10rem 4rem;
    }
    
     
    
}

/* ----------------Trends------------------------ */

.latest{
    background: #2b2b2b;
    grid: 5rem 3rem;
    padding: 7rem 0;
}

.latest .latest__title {
    margin-bottom: 5rem;

}
.latest .latest__title h2{
    color: #FFa700;
    font-size: 4rem;
    font-weight: 600;

}
.latest .latest__title p{
    color: #FFFFFF;
}

.latest .latest__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}
.latest .latest__card{
     background: #FFFFFF;
     border-radius: 3rem;
}
.latest .latest__card img{
    width: 100%;
}

.latest .latest__card__text{
    padding: 2rem 1rem;
}

.latest .latest__card__text h2{
    color: #FFa700;
    font-size: 2rem;
    font-weight: 600;
}

.latest .latest__card__text p{
    color: #2b2b2b;
    font-weight: 600;
    margin: 3rem 0;
}

.latest .latest__card__text a{
    color: #FFa700;
}

@media screen and (max-width: 500px){
    .latest .latest__wrapper{
        display: block;
        padding: 0 4rem;
      
    }

    .latest .latest__wrapper .latest__card{
        margin: 6rem 0;
    }
    .latest .latest__title{
        text-align: center;
    }

}


/* ---------------Contacts------------------------ */


.contacts{
    background: #FFa700;
    padding: 7rem 0;
}

.contacts .contacts__wrapper{
    text-align: center;
    
}

.contacts .contacts__wrapper h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.contacts .contacts__wrapper p{
    margin-bottom: 2rem;
    
}

@media screen and (max-width: 500px){
    .contacts__wrapper{
        display: block;
        
    }
}

/* --------------footer-------------------- */

.footer{
    background: #2b2b2b;
    padding: 1.5rem 0;
}
.footer .footer__wrapper{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer .footer__wrapper ul{
    display: flex;
    padding: 0 4rem;
}

.footer .footer__wrapper  .footer__icon{
    display: flex;
    align-items: center;
    
}

.footer .footer__wrapper  .footer__icon ul li a{
    color: #ffffff;
    font-size: 2rem;
    
}

.footer .footer__wrapper  .footer__icon ul li{
   margin: 2rem;
    
}

@media screen and (max-width: 500px){
    .footer .footer__wrapper{
        flex-direction: column;
        text-align: center;
    }

    .footer .footer__wrapper .footer__icon{
        display: block;
        align-items: center;
    }

    .footer .footer__wrapper  .footer__icon p{
        margin-bottom: 2rem;
    }
    
}


/* -----------------About page----------------- */

.abt-banner{
    background: #ffffff;
    padding: 5rem 0;
    padding-top: 15rem;
 }

 .abt-banner .container .fa-angle-down{
    text-align: center;
    justify-content: center;
    display: flex;
 }

 
 .abt-banner .container i{
    font-size: 3rem;
    color: #FFa700;
 }

 .abt-banner .abt-banner__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    

 }
 
.abt-banner .abt-banner__text h1{
    color: #FFa700;
    font-size: 8rem;
    font-weight: 800;
    max-width: 50rem;
    margin-bottom: 1rem;
   
}

.abt-banner .abt-banner__text p{
    max-width: 40rem;
    text-align: justify;
    margin: 4rem 0;
    margin-bottom: -2rem;
}

.abt-banner .abt-banner__text ul{
    color: #FFa700;
    font-size: 3rem;
    margin: 3rem 0;

}

.abt-banner .abt-banner__text ul i{
    color: #FFa700;
    font-size: 2.5rem;
    margin-right: 1rem;
    

}

.abt-banner .abt-banner__text ul I:hover{
   color: #2b2b2b;

}

@media screen and (max-width:500px){
    .abt-banner .abt-banner__wrapper{
        flex-direction: column-reverse;
    }

    .abt-banner .container .angle-down{
        text-align: center;
     }
    

    .abt-banner .abt-banner__text p{
        margin-right: 0;
        text-align: center;
        margin-bottom: 2rem;
    }
    .abt-banner .abt-banner__text p.lorem{
      text-align: justify;
    }

    .abt-banner .abt-banner__text:first-child{
        margin-right: 0;
        text-align: center;
    }
    .abt-banner img{
        margin-left: 0;
        width: 20rem;
        margin-bottom: 3rem;
    }
    

    .abt-banner .abt-banner__text h1{
        max-width: fit-content;
        font-size: 3rem;
        margin: 0 auto;
    }


}

/* ----------------recent projects------------------------ */

.recents{
    background: #2b2b2b;
    grid: 5rem 3rem;
    padding: 7rem 0;
}

.recents .recents__title {
margin-bottom: 5rem;

}
.recents .recents__title h2{
    color: #FFa700;
    font-size: 3rem;
    font-weight: 600;

}
.recents .recents__title p{
    color: #FFFFFF;
}

.recents .recents__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6rem;
}
.recents .recents__card{
     background: #FFFFFF;
     border-radius: 3rem;
}
.recents .recents__card img{
    width: 100%;
}

.recents .recents__card__text{
    padding: 2rem 1rem;
}

.recents .recents__card__text h2{
    color: #FFa700;
    font-size: 2rem;
    font-weight: 600;
}

.recents .recents__card__text p{
    color: #2b2b2b;
    margin: 3rem 0;
}

.recents .recents__card__text a{
    color: #FFa700;
}

@media screen and (max-width: 500px){
    .recents .recents__wrapper{
        display: block;
        padding: 0 4rem;
      
    }

    .recents .recents__wrapper .recents__card{
        margin: 6rem 0;
    }
    .recents .recents__title{
        text-align: center;
    }

}




/* --------------------Services page--------------- */


.srvcs-banner{
    background: #ffffff;
    padding: 7rem 0;
    padding-top: 15rem;
 }

 .srvcs-banner .container .fa-angle-down{
    text-align: center;
    justify-content: center;
    display: flex;
 }

 
 .srvcs-banner .container i{
    font-size: 2rem;
    color: #FFa700;
 }

 .srvcs-banner .srvcs-banner__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    

 }
 
.srvcs-banner .srvcs-banner__text h2{
    color: #FFa700;
    font-size: 4rem;
    font-weight: 700;
    max-width: 50rem;
    margin-bottom: 1rem;
   
   
}

.srvcs-banner .srvcs-banner__text p{
    max-width: 40rem;
    text-align: justify;
    margin-top: 4rem;
    
}

.srvcs-banner .srvcs-banner__text h3{
    
    color: #FFa700;
    font-size: 3rem;
    font-weight: 600;
}


.srvcs-banner .srvcs-banner__text .price__text{
    font-size: 1.2rem;
    font-style: italic;
    max-width: 35%;

    
}






.srvcs-banner .srvcs-banner__text ul{
    color: #FFa700;
    font-size: 3rem;
    margin: 3rem 0;

}

.srvcs-banner .srvcs-banner__text ul i{
    color: #FFa700;
    font-size: 2.5rem;
    margin-right: 1rem;
    

}

.srvcs-banner .srvcs-banner__text ul I:hover{
   color: #2b2b2b;

}

@media screen and (max-width:500px){
    .srvcs-banner .srvcs-banner__wrapper{
        flex-direction: column-reverse;
    }

    .srvcs-banner .container .angle-down{
        text-align: center;
     }
    

    .srvcs-banner .srvcs-banner__text p{
        margin-right: 0;
        text-align: center;
        margin-bottom: 2rem;
    }
    .srvcs-banner .srvcs-banner__text p.lorem{
      text-align: justify;
    }

    .srvcs-banner .srvcs-banner__text:first-child{
        margin-right: 0;
        text-align: center;
    }
    .srvcs-banner img{
        margin-left: 0;
        width: 20rem;
        margin-bottom: 3rem;
    }
    

    .srvcs-banner .srvcs-banner__text h1{
        max-width: fit-content;
        font-size: 3rem;
        margin: 0 auto;
    }


}

/* --------------------2nd services page--------------- */


.srvcs2-banner{
    background: #2b2b2b;
    padding: 5rem 0;
    padding-top: 15rem;
 }

 .srvcs2-banner .container .fa-angle-down{
    text-align: center;
    justify-content: center;
    display: flex;
 }

 
 .srvcs2-banner .container i{
    font-size: 2rem;
    color: #FFa700;
 }

 .srvcs2-banner .srvcs2-banner__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    

 }
 
.srvcs2-banner .srvcs2-banner__text h2{
    color: #FFa700;
    font-size: 4rem;
    font-weight: 700;
    max-width: 50rem;
    margin-bottom: 1rem;
   
   
}

.srvcs2-banner .srvcs2-banner__text p{
    color: #FFFFFF;
    max-width: 40rem;
    text-align: justify;
    margin: 4rem 0;
    margin-bottom: 2rem;
}

.srvcs2-banner .srvcs2-banner__text h3{
    
    color: #FFa700;
    font-size: 3rem;
    font-weight: 600;
}


.srvcs2-banner .srvcs2-banner__text .price__text{
    font-size: 1.2rem;
    font-style: italic;
    max-width: 35%;

    
}


.srvcs2-banner .srvcs2-banner__text ul{
    color: #FFa700;
    font-size: 3rem;
    margin: 3rem 0;

}

.srvcs2-banner .srvcs2-banner__text ul i{
    color: #FFa700;
    font-size: 2.5rem;
    margin-right: 1rem;
    

}

.srvcs2-banner .srvcs2-banner__text ul I:hover{
   color: #2b2b2b;

}

@media screen and (max-width:500px){
    .srvcs2-banner .srvcs-banner__wrapper{
        flex-direction: column-reverse;
    }

    .srvcs2-banner .container .angle-down{
        text-align: center;
     }
    

    .srvcs2-banner .srvcs2-banner__text p{
        margin-right: 0;
        text-align: center;
        margin-bottom: 2rem;
    }
    .srvcs2-banner .srvcs2-banner__text p.lorem{
      text-align: justify;
    }

    .srvcs2-banner .srvcs2-banner__text:first-child{
        margin-right: 0;
        text-align: center;
    }
    .srvcs2-banner img{
        margin-left: 0;
        width: 20rem;
        margin-bottom: 3rem;
    }
    

    .srvcs2-banner .srvcs2-banner__text h1{
        max-width: fit-content;
        font-size: 3rem;
        margin: 0 auto;
    }


}

/* -----------------Updates------------------ */


.updates{
    background: #ffffff;
    padding: 5rem 0;
}


.updates .updates__title{
    padding-top: 12rem;
    
}

.updates .updates__title h1{
    color: #FFa700;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 2rem;

}

.updates .updates__wrapper{
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-gap: 5rem;
}

.updates .updates__author ul{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4rem;
}


.updates .updates__author ul li{
    margin-right: 1.2rem;
    font-size: 1.1rem;
}

.updates .updates__author ul li i{
    margin-right: 1rem;
 }
.updates .updates__text h3{
    color: #FFa700;
    font-size: 3rem;
    font-weight: 600;
}

.updates .updates__text p{
    margin: 2.5rem 0;
    text-align: justify;
}

.updates .updates__text a{
    color: #FFa700;   
}


.updates .updates__item img{
    width: 100%;
}


.updates .updates__item{
    padding: 7rem 0;
}

.updates .updates__item:not(:last-child){
    border-bottom: 1px solid #2b2b2b;
    
}

.updates .updates__item:last-child{
    padding-bottom: 0;
    padding-top: 5rem;
}

.updates .updates__categ{
    padding: 5rem 0;
}

.updates .updates__categ table tr td:last-child{
    float: right;
}


.updates .updates__categ h3{
    color: #FFa700;
    font-size: 3rem;
    font-weight: 600;
}

.updates .updates__categ table{
    width: 100%;
    margin-top: 3rem;
}

.updates .updates__categ table tr{
    height: 5rem;
}

/* --------RP-------- */

.updates .rp{
    padding: 7rem 0;
}

.updates .rp h3{
    color: #FFa700;
    font-size: 3.5rem;
    font-weight: 600;
    padding-bottom: 2.5rem;

}
.updates .rp__item{
    display: flex;
    margin: 3rem 0;

}

.updates .rp__item  img{
    height: 100%;

}
.updates .rp__item h4{
    margin-bottom: 2rem;
    font-weight: 900;
}

.updates .rp__item .rp__item__text{
   padding-left: 2.5rem;
}

/* ---------tags----------- */

.updates .update__tags{
    padding: 7rem 0;
}

.updates .update__tags h3{
    color: #FFa700;
    font-size: 3.5rem;
    font-weight: 600;
    padding-bottom: 2.5rem;
}

.updates .update__tags .updates__tags__btn a{
    padding: 2rem 3rem;
    margin: 1rem; 
    font-weight: 600; 
}




@media screen and (max-width: 500px){
    .updates{
        padding: 0 3rem;
    }
    
    .updates .updates__wrapper{
        display: block;
    }

    .updates .updates__title{
        text-align: center;
    }


    .updates .updates__text h3,
    .updates .updates__categ h3,
    .updates .rp h3,
    .updates .update__tags h3{
        text-align: center;
    }

    .updates .update__tags .updates__tags__btn{
        text-align: center;
    }


    
    



}


 /* ------------REPEATABLE PATTERNS--------------- */

 .btn{
    padding: 1.2rem 1.5rem;
    border-radius: 5rem;
    display: inline-block;
    border: 1px solid transparent;
   
 }

 .bg--yellow{
    background: #FFa700;
    color: #FFFFFF;
    transition: .5s ease;
 }
 .bg--white{
    background: #ffffff;
    color: #2b2b2b;
    transition: .5s ease;
    border: 1px solid black;
 }


.bg--yellow:hover{
    background: #2b2b2b;
    border: 1px solid #FFa700;
}

 .bg--dark{
    background: #2b2b2b;
    color: #FFFFFF;
 }

 .bg--light{
    background: #FFFFFF;
    color: black;
    border: 1px solid black;
 }

 .bg--light:hover{
    background: #2b2b2b;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
 }

 .bg--dark-2{
    background: #FFFFFF;
    color: #2b2b2b;
 }


 .bg--dark:hover{
    background: #FFa700;
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
 }
 
 .bb-1{
    border-bottom: 1px solid #2b2b2b;
 }

 .bt-1{
    border-top: 1px solid #2b2b2b;
 }

 